
#split_bar {
  display: none;
  position: absolute;
  height: 40px;
  width: auto;
  top: 0px;
  /*left: 108px;*/
  left: 23%;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: #202020;
}

/*.stretch {*/
/*  width: 90%;*/
/*  display: inline-block;*/
/*  font-size: 0;*/
/*  line-height: 0;*/
/*}*/

#split_bar div.btn_split:last-child {
  float: right;
}

#split_bar div.btn_split,
#split_bar div.btn_split:hover{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: auto;
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  cursor:pointer;
}

.btn_split.full_screen {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_full@2x.png");
}

.btn_split.full_screen:hover {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_full-hover@2x.png") ;
}
.btn_split.top_left {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_tl@2x.png") ;
}

.btn_split.top_left:hover {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_tl-hover@2x.png") ;
}
.btn_split.top_right {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_tr@2x.png") ;
}

.btn_split.top_right:hover {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_tr-hover@2x.png") ;
}
.btn_split.bottom_left {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_bl@2x.png") ;
}

.btn_split.bottom_left:hover {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_bl-hover@2x.png") ;
}
.btn_split.bottom_right {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_br@2x.png") ;
}

.btn_split.bottom_right:hover {
  background-image: url("../../resources/images/controlPanel/playback_ctr/btn_split_br-hover@2x.png") ;
}







