 
! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6


*fading:        15

!URxvt.font:		xft:Hack-Regular:pixelsize=16,xft:FontAwesome
URxvt.font:		xft:Hack Nerd Font Mono:pixelsize=16,xft:FontAwesome
URxvt.boldFont:		xft:Hack-Bold:pixelsize=16:weight=bold,xft:Symbola
URxvt.italicFont:	xft:Hack-RegularOblique:pixelsize=16:slant=italic,xft:Symbola
URxvt.letterSpace: 1
URxvt.transparent:  	true
URxvt.shading: 		40
URxvt*.blurRadius: 12

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.scrollBar: 	false

!! Cursor
URxvt.cursorBlink:         1
URxvt.colorUL:             #83a598
Xcursor.theme:             La Captaine


! perl extensions
!URxvt.perl-ext-common:	default,clipboard,url-select,keyboard-select,font-size

! macros for clipboard and selection
URxvt.copyCommand:	xclip -i -selection clipboard
URxvt.pasteCommand:	xclip -o -selection clipboard

!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755:            false
URxvt.iso14755_52:         false



Xcursor.size: 16
