! special
*.foreground:   #ffffff
*.background:   [70]#0d0f31
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #000000

! red
*.color1:       #ff16b0
*.color9:       #ff16b0

! green
*.color2:       #b3f361
*.color10:      #b3f361

! yellow
*.color3:       #ffea16
*.color11:      #ffea16

! blue
*.color4:       #46bdff
*.color12:      #46bdff

! magenta
*.color5:       #f806fa
*.color13:      #f806fa

! cyan
*.color6:       #59e1e3
*.color14:      #6be4e6

! white
*.color7:       #ffffff
*.color15:      #ffffff

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


URxvt.iconName:          urxvt
URxvt.iconFile:          /usr/share/icons/Papirus-Dark/48x48/apps/urxvt.svg
URxvt.internalBorder:    3
URxvt.externalBorder:    1
!URxvt.lineSpace:        0
!URxvt*shading:          30
URxvt.depth:             32
URxvt.saveLines:         10000
URxvt*geometry:          80x25
URxvt*terminalName:      rxvt-unicode-256color
URxvt*visualBell:        false

!! Scrollbar
!URxvt.scrollStyle:      rxvt
URxvt.scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*.transparent: true
URxvt*.shading: 40
URxvt*.blurRadius: 12



!! Fonts

URxvt*font:              xft:Hack Nerd Font Mono:size=12
!URxvt*boldFont:          xft:FantasqueSansMono Nerd Font Mono:Bold:size=10
!URxvt*italicFont:        xft:FantasqueSansMono Nerd Font Mono:Regular:size=10
!URxvt*boldItalicFont:    xft:FantasqueSansMono Nerd Font Mono:Regular:size=10
URxvt.letterSpace:0 


!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755:            false
URxvt.iso14755_52:         false

!! Cursor
URxvt.cursorBlink:         1
URxvt.colorUL:             #83a598
Xcursor.theme:             La Captaine

!! Pointer
!URxvt.pointerBlank: true
