<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title> MirrorOpSender Local Screen </title>
    <script src="../jslibrary/jquery/jquery-2.1.4.min.js"></script>
    <script src="../jslibrary/jquery/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/localScreen.js"></script>
  </head>
    
  <body>
    <div id='local_video_container' width='1280' height='720' style='background-color: gray;'>
      <video id="local_video" style='background-color: white;'> </video>
    </div>
  </body>
</html>