<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title> MirrorOpSender Preferences </title>
    <link rel="stylesheet" href="css/preference.css">
    <script src="../jslibrary/jquery/jquery-2.1.4.min.js"></script>
    <script src="../jslibrary/jquery/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../utils/conversion.js"></script>
    <script type="text/javascript" src="../model/Settings.js"></script>
    <script type="text/javascript" src="js/preference.js"></script>
  </head>
    
  <body>
    <!--<div id='preference_container'>-->
      <div id='option_btn_container'>
        <div class='option_btn general selected'>
          <div class='option_btn_icon general'></div>
          <div class='option_btn_label general'>General</div>
        </div>
        <div class='option_btn favorite'>
          <div class='option_btn_icon favorite'></div>
          <div class='option_btn_label favorite'>Favorite</div>
        </div>
        <div class='option_btn advanced'>
          <div class='option_btn_icon advance'></div>
          <div class='option_btn_label advance'>Advance</div>
        </div>
        <!-- Chromebook doesn't allow customizating hot keys -->
        <!--<div class='option_btn hotkey'></div>--> 
        <div class='option_btn about'>
          <div class='option_btn_icon about'></div>
          <div class='option_btn_label about'>About</div>
        </div>
        <div class='option_btn license'>
          <div class='option_btn_icon license'></div>
          <div class='option_btn_label license'>License</div>
        </div>
      </div>
      <div id='option_page_container'>
        <!-- General -->
        <div class='option_page general'>
          <div class='page_block'>
            <div class='title_block name'>
              <div class='title_label name'>Name:</div>
            </div>
            <div class='content_block name'>
               <input class='content_input name'></input>
            </div>
          </div>
          <div class='page_block'>
            <div class='title_block functions'>
              <div class='title_label functions'>Functions:</div>
            </div>
            <div class='content_block functions'>
              <div class='option_block'>
                <input class='content_input slide_show functions' type="checkbox" value="None" id="slide_show" name="slide_show"> </input>
                <label class="content_label slide_show" for='slide_show'>Allows screen projection be redireced to browsers</label>
              </div>
              <div class='option_block'>
                <input class='content_input always_on_top functions' type="checkbox" value="None" id="always_on_top" name="always_on_top"> </input>
                <label class="content_label always_on_top" for='always_on_top'>Always on top</label>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Favorite -->
        <div class='option_page favorite'>
          <div class='page_block default_list'>
            <div class='title_block default_list'>
              <div class='title_label default_list'>Default list:</div>
            </div>
            <div class='content_block default_list'>
              <div class='option_block'>
                <input class='content_input discovery list' type="radio" value="None" id="discovery" name="list"> </input>
                <label class="content_label discovery" for='discovery'>Discovery</label>
              </div>
              <div class='option_block'>
                <input class='content_input favorite list' type="radio" value="None" id="favorite" name="list"> </input>
                <label class="content_label favorite" for='favorite'>Favorite</label>
              </div>
            </div>
          </div>
          
          
          <div class='page_block favorite_list'>
            <div class='title_block favorite_list'>
              <div class='title_label favorite_list'>Favorite list:</div>
            </div>
            
            <div class='content_block favorite_list'>
              <div class='content_label file_path'></div>
              
              <div class='option_block'>
                
                <div class='content_btn import'>Import</div>
                <!--<input type="file" class='content_input import_file' id='import_file'/>-->
                <!--<label class='content_btn import' for='import_file'>Import</label>-->
              </div>
              <div class='option_block'>
                <!--<output id="list"></output>-->
                <div class='content_btn export'>Export</div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Advanced -->
        <div class='option_page advanced'>
          <div class='page_block quality'>
            <div class='title_block quality'>
              <div class='title_label quality'>Quality:</div>
            </div>
            <div class='content_block quality'>
              <div class='option_block'>
                <input class='content_input best quality' type="radio" value="None" id="best" name="quality"> </input>
                <label class="content_label best" for='best'>Best</label>
              </div>
              <div class='option_block'>
                <input class='content_input normal quality' type="radio" value="None" id="normal" name="quality"> </input>
                <label class="content_label normal" for='normal'>Normal</label>
              </div>
            </div>
          </div>
          
          <div class='page_block aspect_ratio'>
            <div class='title_block aspect_ratio'>
              <div class='title_label aspect_ratio'>Aspect Ratio:</div>
            </div>
            <div class='content_block aspect_ratio'>
              <div class='option_block'>
                <input class='content_input fill aspect_ratio' type="radio" value="None" id="fill" name="ratio"> </input>
                <label class="content_label fill" for='fill'>Fill Screen</label>
              </div>
              <div class='option_block'>
                <input class='content_input keep aspect_ratio' type="radio" value="None" id="keep" name="ratio"> </input>
                <label class="content_label keep" for='keep'>Keep Aspect Ratio</label>
              </div>
            </div>
          </div>
        </div>
        
        <!-- About -->
        <div class='option_page about'>
          <div class='page_block copyright'>
            <div class='content_block logo'></div>
            <div class='content_block name'>MirrorOp</div>
            <div class='content_block version'>1.0.00</div>
            <div class='content_block copyright'>Copyright &copy; 2016 MirrorOp. All rights reserved.</div>
          </div>
        </div>
        
        <!-- License -->
        <div class='option_page license'>
          <div class='page_block license'>
            <div class='content_block left'>
              <div class='license_icon logo'></div>
            </div>
            <div class='content_block right'>
              <div class='license_block title'>
                <div class='license_label title'>MirrorOp Sender</div>
                <div class='license_label subtitle'>Activation</div>
              </div>
              <div class='license_label description'>Please enter your activation number</div>
              <div class='license_block input_code'>
                <input class='license_input code'></input>
                <div class='license_icon status'></div>
              </div>
              <div class='license_label detail'>If you have purchased MirrorOp Sender, you should find your registration key in the confirmation email. Please make sure you're connected to internet to activate.</div>
            </div>
          </div>
          <div class='page_block footer'>
            <div class='license_footer_btn activate'>Activate</div>
            <div class='license_footer_btn later'>Later</div>
            <div class='license_footer_btn buy'>Buy Now</div>
          </div>
        </div>
        
      </div>
      
      <div id='option_footer'>
        <div class='option_footer_btn_container'></div>
        <div class='option_footer_btn cancel'>Cancel</div>
        <div class='option_footer_btn ok'>OK</div>
      </div>
    <!--</div>-->
  </body>
</html>